.site-header-desktop {
	box-shadow: none !important ;
	.container-header-desktop {
		height: 70px;
		> div {
			justify-content: space-between;
			height: 100%;
			.secondary-menu-container {
				.menu {
					.container-menu-dropdown {
						padding: 0;
						background: #fff;
						display: flex;
						justify-content: flex-end;
						align-items: center;
						gap: 10px;
						border: none;
						.container-avatar {
							height: 40px;
							width: 40px;
							border-radius: 50px;
							border: 2px solid #00000014;
							background-color: #fff;
							justify-content: center;
							align-items: center;
							img {
								object-fit: contain;
							}
						}
						.container-user-info {
							display: flex;
							flex-direction: column;
							span {
								font-weight: 700;
								font-size: 13px;
								line-height: 20px;
								letter-spacing: 0;
								color: #535862;
								&:first-child {
									color: #181d27;
								}
							}
						}
					}
					.dropdown-menu {
						margin-top: 15px !important;
						box-shadow: none !important;
						border: 1px solid #d9d9db;
						border-radius: 7px;
						.dropdown-item {
							color: #414651;
							font-weight: 700;
							font-size: 13px;
							line-height: 20px;
							letter-spacing: 0;
						}
					}
				}
				.container-desktop-logged-out-items {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 40px;
					a {
						padding: 12px 40px;
						font-size: 15px;
						font-weight: 700;
						border-radius: 7px;
						text-decoration: none;
						&.btn-link {
							color: #6a6b6c;
							background-color: #fff;
							border: 1px solid #309dc1;
						}
						&.btn-outline-primary {
							background-color: #f5c362;
							color: #190d30;
						}
					}
				}
			}

			.main-nav {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 40px;
				.nav-link {
					text-decoration: none;
					font-weight: 700;
					font-size: 15px;
					line-height: 150%;
					letter-spacing: 0;
					padding: 0;
					color: #6a6b6c;
				}

				.nav-link:hover,
				.nav-link:focus,
				.nav-link.active,
				.expanded .nav-link {
					color: #f5c362;
					cursor: pointer;
				}

				.menu {
					position: static;
					.menu-content {
						border-top: solid 2px var(--pgn-color-bg-active);
						left: 0;
						right: 0;
						box-shadow: var(
							--pgn-elevation-box-shadow-down-1,
							0 1px 2px rgba(0, 0, 0, 0.25)
						);
						border-bottom-left-radius: 2px;
						border-bottom-right-radius: 2px;
						padding: var(--pgn-spacing-spacer-base, $spacer);
					}
				}
			}
		}
	}
}
